@keyframes slideUpFadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.table-login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    animation: slideUpFadeIn 0.8s ease-out;
}

.login-image {
    width: 500px;
    height: 500px;
    margin-right: 30px;
}