.password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 470px;
}

.password-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85px;
    height: 20px;
    margin-bottom: 33px;
}

.password-strength.fraca {
    color: red;
}

.password-strength.leve {
    color: orange;
}

.password-strength.forte {
    color: green;
}

.password-strength.ideal {
    color: blue;
}