/* Estilos principais do perfil */

.main-profile {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #007bff, #66b3ff);
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 5.8px;
}

.header h2 {
    padding-left: 10px;
    color: white;
}

.header-profile-img-container {
    position: relative;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px;
    margin-left: auto; /* Alinha à direita do cabeçalho */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto do cabeçalho */
}

.header-profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
}

.header-profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
    display: none; /* Inicialmente oculto */
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header-profile-menu.show {
    display: flex; /* Exibe quando a classe show está presente */
    opacity: 1;
    transform: translateY(0);
}

.header-profile-menu button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.header-profile-menu button:hover {
    background: #f0f0f0;
}

/* Estilos do perfil principal */

.profile-table {
    display: flex;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 550px;
    margin-top: 45px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-direction: column;
    padding: 20px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89%;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-section > * {
    margin-right: 10px;
}

.profile-section > *:last-child {
    margin-right: 0;
}

.profile-img-container {
    position: relative;
    width: 75px;
    height: 75px;
}

.profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-section p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.profile-table input[type="file"] {
    margin: 10px 0;
}

.profile-table button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-table button:hover {
    background-color: #0056b3;
}

.separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

.profile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
    display: none; /* Inicialmente oculto */
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.profile-menu.show {
    display: flex; /* Exibe quando a classe show está presente */
    opacity: 1;
    transform: translateY(0);
}

.profile-menu button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    color: black;
}

.profile-menu button:hover {
    background: #f0f0f0;
}
