.main-profile {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.header h2 {
    padding-left: 10px;
}

.profile-table {
    display: flex;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 600px;
    margin-top: 45px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-direction: column;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89%;
}

.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-section p {
    font-size: 20px;
    font-weight: bold;
}
.profile-section img {
    cursor: pointer;
}

.profile-image {
    width: 90px;
    height: 90px;
}

.separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0;
}